DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=taskio_db
JWT_SECRET=super-secret-key
PORT=5000

# Super Admin Initial Seed Configuration
# SUPER_ADMIN_NAME=System Administrator
# SUPER_ADMIN_EMAIL=admin@example.com
# SUPER_ADMIN_PASSWORD=StrongPassword123!
